$font-family: "Roboto", sans-serif;

.supplier {
    width: 100%;
    margin: 0 auto;

    .content-hall-first {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;

        .hall-second {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            border-radius: 12px;
            margin: 40px;
            .sectionprofil-6 {
                width: 100%;

                .containerr {
                    border-radius: 12px;
                    background: #fff;
                    padding: 36px !important;
                    gap: 8px;

                    span.input-group-text {
                        background: transparent;
                        border-right: none;
                    }
                    input.form-control {
                        padding: 12px 20px;
                        border-left: none;
                    }
                    .bagiansearch {
                        align-items: center;
                        display: flex;
                        gap: 10px;
                        width: 100%;
                        .bagian1 {
                            width: 75%;
                            padding: 0;
                            .input-group-text {
                                padding: 19px 25px;
                            }
                        }
                        select {
                            width: 10%;
                            padding: 15px 25px;
                        }

                        a {
                            width: 15%;
                            border-radius: 6px;
                            background: #414141;
                            padding: 16px 20px;
                            text-align: center;
                            color: #fff;
                            font-family: $font-family;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }
                    .bagiansearchproduct {
                        gap: 10px;
                        align-items: center;
                        display: flex;
                        width: 100%;
                        .bagian1 {
                            width: 70%;
                            padding: 0;
                            .input-group-text {
                                padding: 20px 25px;
                            }
                        }
                        .bagian2 {
                            width: 15%;
                            .form-select {
                                padding: 16px 25px;
                            }
                        }

                        a {
                            width: 15%;
                            border-radius: 6px;
                            background: #414141;
                            padding: 16px 25px;
                            text-align: center;
                            color: #fff;
                            font-family: $font-family;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                        }
                    }
                    .col-2,
                    .col-1 {
                        padding: 5px;
                        .form-select {
                            padding: 16px 20px;
                        }
                    }

                    .dataTables_wrapper {
                        overflow-x: auto;
                        width: 100% !important;
                    }

                    table {
                        overflow-x: auto;
                        white-space: nowrap;
                        width: 100% !important;
                    }
                }
                a.tab-button {
                    padding: 15px 20px;
                    border: none;
                    background: #e0e0e0;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background 0.3s;

                    &:hover {
                        background: #d0d0d0;
                    }

                    &.active {
                        width: 100%;
                        background: #333;
                        color: white;
                    }
                }

                .tab-content {
                    display: none;
                    width: 100%;

                    &.active {
                        width: 100%;
                        display: flex;
                        gap: 0 !important;
                        flex-direction: column;
                    }
                }

                .badge {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    width: 70px;
                    color: #fff;
                    font-family: $font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .badge.bg-success {
                    border-radius: 6px;
                    background: #65db4d;
                }
                .badge.bg-danger {
                    border-radius: 6px;
                    background: var(--Red, #ff485a);
                }

                .dropdown {
                    width: 100%;

                    .dropdownn {
                        border: none;
                        background-color: transparent;
                    }

                    .dropdown-menu {
                        padding: 10px;
                        text-align: start;

                        hr {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }

                th {
                    padding: 25px 20px;
                    color: #000;
                    font-family: $font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px; /* 128.571% */
                    position: relative;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    .sort-icon {
                        position: absolute;
                        right: 0;
                    }
                }
                td {
                    padding: 25px 15px;
                    color: #575757;
                    font-family: $font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    vertical-align: middle;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    svg {
                        margin-left: 10px;
                    }
                    .badge.bg-success {
                        display: flex;
                        height: 28px;
                        padding: 8px 18px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 4px;
                        background: var(--Green, #56cb3f) !important;
                    }
                }
                .beda {
                    overflow: visible;
                }
            }

            .solid {
                margin-top: 0;
            }
            .d-flex {
                .custom-dropdown {
                    display: inline;
                    align-items: center;
                    justify-content: center;
                    color: #3d3d3d;
                    font-family: $font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px; /* 141.667% */
                    button {
                        padding: 0;
                        color: #3d3d3d;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px; /* 141.667% */
                        border: none;
                    }
                }
                span {
                    color: #3d3d3d;
                    text-align: right;
                    font-family: $font-family;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px; /* 141.667% */
                }
                button {
                    border: none;
                }
                .pagination-prev,
                .pagination-next {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 5px;
                }

                .pagination-prev:disabled,
                .pagination-next:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }

            .dataTables_length {
                display: none;
            }

            .dataTables_paginate {
                display: none;
            }

            .dataTables_info {
                display: none;
            }
            .dataTables_filter {
                display: none;
            }

            th::after {
                display: none !important;
                content: "" !important;
            }
            th::before {
                display: none !important;
                content: "" !important;
            }
        }
    }
}

.tab-content {
    display: none;
    width: 100%;

    &.active {
        width: 100%;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}
