$font-family: "Roboto", sans-serif;

.edit {
    width: 100%;
    margin: 0 auto;

    .content-hall-first {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        align-items: stretch;
        padding: 0 40px;

        // gap: 40px;

        .hall-second {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            border-radius: 12px;
            margin: 40px;

            .sectionprofil-3 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                .grid {
                    width: 100%;
                    display: flex;
                    padding: 36px;
                    align-items: center;
                    border-radius: 12px;
                    background: #fff;
                    justify-content: center;
                    gap: 10px;
                }

                .col-4.mt-2 {
                    .form-control {
                        padding: 12px;

                        border-right: none;
                        &::placeholder {
                            color: #d3d3d3;
                            font-family: $font-family;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    .custom-dropdown {
                        position: relative;
                        display: inline-block;
                        width: 100%;

                        .dropdown {
                            display: none;
                            background: white;
                            border: 1px solid #ccc;
                            padding: 12px 15px;
                            width: 100%;
                            text-align: left;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 5px;
                            cursor: pointer;
                            color: var(--Primary, #414141);
                            font-family: $font-family;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; /* 121.429% */

                            &.show {
                                svg {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        .dropdown-menu.CV {
                            padding: 15px;
                            width: 100%;
                            border-radius: 5px;
                            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                            max-height: 200px;
                            overflow-y: auto;
                            color: var(--Primary, #414141);
                            font-family: $font-family;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; /* 121.429% */
                        }

                        .dropdown-menu {
                            padding: 15px;
                            width: 50%;
                            border-radius: 5px;
                            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                            max-height: 200px;
                            overflow-y: auto;
                            color: var(--Primary, #414141);
                            font-family: $font-family;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; /* 121.429% */

                            .dropdown-item {
                                padding: 10px 15px;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                gap: 20px;

                                span {
                                    border-radius: 8px;
                                    background: var(--Primary, #414141);
                                    color: #fff;
                                    font-family: $font-family;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }

                                &:hover {
                                    background-color: #f8f9fa;
                                }
                            }
                            .solid {
                                background: #e5e5e5;
                                margin: 0;
                            }

                            .customer {
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .input-group-text {
                        background-color: transparent;
                    }
                    .form-select {
                        padding: 16px;

                        color: #d3d3d3;
                        font-family: $font-family;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        option {
                            padding: 20px;

                            span {
                                padding: 16px 20px;

                                border-radius: 8px;
                                background: var(--Primary, #414141);
                            }
                        }
                    }
                }
            }
            .sectionprofil-6 {
                width: 100%;
                .containerr {
                    border-radius: 12px;
                    background: #fff;
                    padding: 36px !important;
                    gap: 8px;

                    .linebox {
                        padding: 24px;
                        border-radius: 12px;
                        border: 1px solid #d9d9d9;
                    }

                    .dataTables_wrapper {
                        overflow-x: auto;
                        width: 100%;

                        table {
                            overflow-x: auto;
                            max-width: 1600px;
                            white-space: nowrap;
                        }
                    }

                    .container {
                        display: flex;
                        flex-direction: column;
                    }

                    .filtertombol {
                        display: flex;
                        width: 100%;

                        .gridend {
                            width: 100%;
                            background: #e5e5e5;
                            text-align: center;
                            display: flex;
                            height: 48px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;

                            &.active {
                                background: var(--Primary, #414141);
                                a {
                                    color: #fff;
                                }
                            }

                            &:hover {
                                background: var(--Primary, #414141);
                                a {
                                    color: #fff;
                                }
                            }

                            a {
                                width: 100%;
                                text-decoration: none;
                                color: #818181;
                                font-family: $font-family;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }

                    .top-grid {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;

                        a {
                            width: 13%;
                            padding: 13px 20px;
                            border: 0.5px solid #e8e8e8;
                            background: #fff;
                            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
                            border-radius: 8px;
                            background: var(--Primary, #414141);
                            color: #fff;
                            font-family: $font-family;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-decoration: none;
                            text-align: center;
                        }
                    }

                    .badge.badge-secondary {
                        width: 90%;
                        display: flex;
                        height: 28px;
                        padding: 8px 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 4px;
                        background: var(--Orange, #fda342);
                        color: #fff;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .badge.badge-primary {
                        width: 90%;
                        display: flex;
                        height: 28px;
                        padding: 8px 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 4px;
                        background: var(--Green, #56cb3f);
                        color: #fff;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .dropdown {
                        width: 100%;

                        .dropdownn {
                            border: none;
                            background-color: transparent;
                        }

                        .dropdown-menu {
                            padding: 10px;

                            .solid {
                                width: 99%;
                                margin: 5px;
                            }
                        }
                    }

                    th {
                        padding: 25px 20px;
                        color: #000;
                        font-family: $font-family;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 128.571% */
                        position: relative;

                        .sort-icon {
                            position: absolute;
                            right: 0;
                        }
                    }
                    td {
                        padding: 25px 20px;
                        color: #575757;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        vertical-align: middle;
                    }
                }

                .table-container {
                    display: none;
                }

                .table-container.active {
                    display: block; /* Hanya tabel aktif yang muncul */
                }

                .solid {
                    margin-top: 0;
                }
                .d-flex {
                    .custom-dropdown {
                        display: inline;
                        align-items: center;
                        justify-content: center;
                        color: #3d3d3d;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px; /* 141.667% */
                        button {
                            padding: 0;
                            color: #3d3d3d;
                            font-family: $font-family;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; /* 141.667% */
                            border: none;
                        }
                    }
                    span {
                        color: #3d3d3d;
                        text-align: right;
                        font-family: $font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px; /* 141.667% */
                    }
                    button {
                        border: none;
                    }
                    .pagination-prev,
                    .pagination-next {
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 5px;
                    }

                    .pagination-prev:disabled,
                    .pagination-next:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }

                .dataTables_length {
                    display: none;
                }

                .dataTables_paginate {
                    display: none;
                }

                .dataTables_info {
                    display: none;
                }
                .dataTables_filter {
                    display: none;
                }

                th::after {
                    display: none !important;
                    content: "" !important;
                }
                th::before {
                    display: none !important;
                    content: "" !important;
                }
            }
            .endsection {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                gap: 24px;

                .gridend {
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid var(--Primary, #414141);
                    background: #fff;
                    text-align: center;
                    display: flex;
                    height: 48px;
                    padding: 16px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                    &:hover {
                        border-radius: 8px;
                        background: var(--Primary, #414141);
                        a {
                            color: #fff;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: var(--Primary, #414141);
                        font-family: $font-family;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

.tab-content {
    display: none;
    width: 100%;

    &.active {
        width: 100%;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}
